.main-p {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 133.333% */
  margin-top: 1rem;
}

.main-h2{
  margin-top: 5rem;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.youtube{
  position: absolute;
  top: 40%;
  right: 42%;
}

.img-div{
  position: relative;
  margin-top: 5rem;
}

.main-flex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.main-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}

.main-h3{
  width: 80%;
  color: #000;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.main-li{
  color: #000;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
list-style: disc;
}



.section-text{
  display: flex;
  flex-direction: column  ;
  margin-top: 3rem;
}

.section-h3{
  color: #000;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px; 
width: 80%;


}


.section-p{
  color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
width: 521px;
}

.section-p-flex{
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.brand-section-img{
  margin-top: 3rem;
}

.brand-section-h3-2{
color: #000;
text-align: center;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px; 
margin-top: 5rem;
}

.brand-section-p-2{
  text-align: center;
}

.section-tel{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.brand-tel-layout{
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.brand-address{
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.brand-address-section{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 3rem;
}