.products {
  width: 100%;
}
.hero {
  width: 100%;
  height: 343px;
  background: no-repeat url(../../assets/product-img/Rectangle.svg) 0 0 / 100%
    100%;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.hero-titles {
  position: absolute;
  top: 150px;
  left: 370px;
}
.hero-title {
  color: #000;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  width: 438px;
  margin-bottom: 16px;
}
.hero-text {
  width: 349px;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.286px; 
  letter-spacing: 0.231px;
}
