* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}



ul,
ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

}
/* Brand page */

.header-img {
  width: 100%;
}

.d-flex{
  position: absolute;
  top: 30%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.header-p{
  width: 60%;

}
/* Brand page end */