* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
a, button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}